textarea {
    resize: none;
}

#math {
    display: flex;
}

#math_input {
    resize: horizontal;
    overflow: auto;
    min-width: 25%;
    max-width: 75%;
    margin-right: 1rem;
    appearance: textarea;
    border: 1px solid gray;
}

#math_look {
    white-space:pre-wrap;
    overflow-wrap: break-word;
    min-width: 25%;
    max-width: 75%;
}