{% extends "card/base_generic.html" %}
{% load static %}

{% block title %}
    <title> {{ article.title }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'card/css/style.css' %}">
{% endblock %}

{% block content %}
<div id="some">
    <div class="row justify-content-center">
        <div class="col col-lg-auto text-center">
            <h1 id="article_title">{{ article.title }}</h1>
        </div>
        
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col col-lg-10" id="article_text">
            {% autoescape off %}
                {{ article.text }}
            {% endautoescape %}
        </div>
    </div>
</div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'card/js/article.js' %}"></script>
{% endblock %}