{% extends "card/base_generic.html" %}
{% load static %}

{% block title %}
    <title>Страница входа</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'card/css/login.css' %}">
{% endblock %}

{% block content %}
{#    {% if form.errors %}#}
{##}
{#    <p>Your username and password didn't match. Please try again.</p>#}
{#    {% endif %}#}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <div class="main text-center">


    <form method="post" class="form-login" action="{% url 'login' %}">
    {% csrf_token %}

    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input class="form-control {% if form.errors %}is-invalid{% endif %}" type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input class="form-control {% if form.errors %}is-invalid{% endif %}" aria-describedby="invalid-feedback" type="password" name="password" id="password" placeholder="Password">
        {% if form.errors %}
        <div id="invalid-feedback" class="invalid-feedback">
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}
        </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Войти</button>
    </form>
    </div>
{% endblock %}